@import '../../assets/scss/variables';

.feed {

    width: 70%;
    margin: auto;

    &__content {
        margin: 20px 0 20px 0;
        padding: 40px;
        display: flex;
        flex-direction: column;
        background: rgb(200, 200, 200);

        border-radius: 5px;
        border: 2px solid rgb(180,180,180);

        &__title {
            margin: 0 0 15px 0;
            font-size: 3rem;
            align-self: flex-start;
        }

        &__info {
            align-self: flex-end;

            span {
                margin: 10px;
                font-size: 1.2rem;
            }
        }

        &__description {
            font-size: 1.2rem;
        }
    }
}