@import '../../assets/scss/variables';


.feed {

    margin: auto;

    &__lastest {
        display: flex;
        flex-direction: column;

        align-items: center;

        margin: 3rem 0 3rem 0;

        &__info {
            width: 50%;

            display: flex;
            flex-direction: row;
            
            span {
                padding-right:1rem
            }
        }

        &__title {
            width: 50%;

            h1 {
                font-size: $homepage-lastest-title-size;
                color:$title-text-color;
            }

        }

        &__socialImage {
            
            img {  
                height: $homepage-socialImage-height;
                width: $homepage-socialImage-width;
                object-fit: cover;

                border-radius: 0.25rem;
            }
        }

        &__description {

            font-size: $homepage-lastest-description-size;
            line-height: $description-line-height;

            color: $description-text-color;

            width:50%;
        }

        &__tags {
            margin: 0 0 10px 0;
            display: flex;
            flex-direction: row;
            
            width: 50%;

            span{
                padding-right: 1rem;
            }
        }
    }


    &__previous {
        margin: 20px 0 20px 0;
        padding: 40px;
        display: flex;
        flex-direction: column;
        background: rgb(200, 200, 200);

        border-radius: 5px;
        border: 2px solid rgb(180,180,180);

        &__title {
            margin: 0 0 15px 0;
            font-size: 3rem;
            align-self: flex-start;

            &__index {
                width: 70%;
            }
        }

        &__info {
            align-self: flex-end;

            span {
                margin: 10px;
                font-size: 1.2rem;
            }
        }

        &__description {
            font-size: 1.2rem;
        }
    }
}