.magic-link {
    display: inline;
    background-image: linear-gradient(hsla(0, 0%, 50%, 30%), hsla(0, 0%, 50%, 30%));
    background-repeat: no-repeat;
    background-size: 20% 40%;
    background-position: 0 100%;
    transition: background-size 0.5s ease-in-out;
    z-index: -1;

    &:hover {
        background-size: 100% 40%;
    }
}

.magic-button {
    background-image: linear-gradient(hsl(0, 0%, 70%), hsla(0, 0%, 70%));
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position: 0 100%;
    color: black;
    outline: none;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-size: 100% 100%;
        color: white;
    }
}