@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap');


// Color
$main-color: #ffee00;

$background-gradient: linear-gradient(75deg,#1A2980,#26D0CE);

$default-font-list: "Noto Serif SC", serif;