@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap');

// Color
$main-color: #ffee00;

$background-gradient: linear-gradient(75deg,#1A2980,#26D0CE);

// Font
$default-font-list: "Noto Sans SC", serif;

// 
$header-height: 5rem;