@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
// Color
$description-text-color:hsl(0, 0%, 50%);
$title-text-color:hsl(0, 0%, 30%);

$basic-text-color: hsl(0, 0%, 20%);
$light-text-color: hsl(0, 0%, 50%);

$main-color: hsl(160, 31%, 87%);
$text-color: hsl(349, 74%, 59%);
$text-color-transparent: hsla(349, 74%, 59%, 20%);
// Font
$default-font-list: "Noto Sans SC",
serif;
$header-font-list: 'Dela Gothic One',
cursive;

// FontSize
$homepage-lastest-title-size: 2.5rem;
$homepage-lastest-description-size: 1.2rem;
$homepage-previous-title-size: 1.8rem;
$homepage-previous-description-size: 1rem;
$feed-title-size: 1.8rem;

// ImageSize
$homepage-socialImage-height: 700px;
$homepage-socialImage-width: 1200px;

// 
$header-height: 5rem;

//Lineheight
$description-line-height: 2;