@import "../../../../assets/scss/variables";

.introbar {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    width: 85%;

    margin: 3rem auto 1.2rem auto;

    &__title {
        flex: 0 0 60%;
        font-family: $header-font-list;
        font-size: 4rem;
        font-weight: 400;
    }

    &__info {
        flex: 0 0 30%;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__photo {
        border-width: 3px;
        border-style: solid;
        border-color: rgb(150, 150, 150);

        height: 200px;
    }

    &__name {
        font-family: $default-font-list;

        margin: 2rem 0 0 0;
        font-size: 3rem;
    }

    &__intro {
        font-family: $default-font-list;
        font-size: 1.3rem;
        max-width: 60%;
        text-align: end;
    }
}