.snslist {

    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    font-size: 16px;


    &__item {

        background: rgb(130, 130, 130);
        padding: 0;
        margin-right: 10px;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        height: 2.25em;
        width: 2.25em;
        border-radius: 50%;
        text-align: center;
        border: 1px solid rgba(128, 128, 128, 0.12);
    }
}