@import '../../../assets/scss/variables';

.header {
    position: fixed;

    padding: 0;
    width: 100%;
    background: rgba(128, 128, 128, 0.7);

    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: rgba(180, 180, 180, 0.7);

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 75%;
        height: $header-height;
        margin: auto;
    }
}